<p-fieldset legend="Registro y Detalles">
  <div class="formgroup-inline">
    <div class="field">
      <label for="searchInput" class="p-sr-only">Buscar por Cédula:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon icon="pi pi-search" />
        <input
          id="searchInput"
          type="text"
          pInputText
          placeholder="Buscar por Cédula"
          [(ngModel)]="searchQuery"
        />
        @if (searchQuery) {
        <button
          type="button"
          class="p-button p-button-icon-only p-button-rounded p-button-text"
          (click)="clearSearch()"
        >
          <span class="pi pi-times"></span>
        </button>
        }
      </p-iconField>
    </div>
    <div class="field">
      <button
        pButton
        type="button"
        label="Buscar"
        (click)="searchUser()"
      ></button>
    </div>

    <div class="field">
      <label for="dropdown" class="p-sr-only">Seleccionar Usuario:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon icon="pi pi-user" />
        <p-dropdown
          id="dropdown"
          [options]="dropdownOptions"
          [(ngModel)]="selectedUser"
          optionLabel="tx_nombre"
          [filter]="true"
          filterBy="tx_nombre"
          [showClear]="true"
          placeholder="Seleccionar o escribir Usuario"
          (onChange)="selectUser($event)"
        >
          <ng-template let-user pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ user.tx_nombre }} ({{ user.tx_cedula }})</div>
            </div>
          </ng-template>
        </p-dropdown>
      </p-iconField>
    </div>
  </div>

  @if (selectedUser) {
  <div>
    <p-card class="user-card">
      <ng-template pTemplate="header">
        <div class="header-content">
          <span class="pi pi-user card-icon"></span>
          <span>Trabajador</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <div class="field">
          <label>Nombre:</label>
          <span>{{ selectedUser.tx_nombre }}</span>
        </div>
        <div class="field">
          <label>Cédula:</label>
          <span>{{ selectedUser.tx_cedula }}</span>
        </div>
        <div class="field">
          <label>Área:</label>
          <span>{{ selectedUser.tx_area }}</span>
        </div>
        <div class="field">
          <label>Cargo:</label>
          <span>{{ selectedUser.tx_cargo }}</span>
        </div>
        <div class="field">
          <label>Vehículo:</label>
          <span>{{ selectedUser.tx_vehiculo ? "Tiene" : "No Tiene" }}</span>
        </div>
        @if (selectedUser.tx_vehiculo) {
        <div>
          <div class="field">
            <label>Placa:</label>
            <span>{{ selectedUser.tx_vehiculo }}</span>
          </div>
          <div class="field">
            <label>Tipo:</label>
            <span>{{ selectedUser.tx_vehiculo_descripcion }}</span>
          </div>
        </div>
        }
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
          <button
            pButton
            type="button"
            icon="pi pi-plus"
            label="Asignar Productos"
            class="p-mr-2"
            (click)="toggleProducts()"
          ></button>
          &nbsp;
          <button
            pButton
            type="button"
            label="Realizar Registro"
            (click)="register()"
          ></button>
        </div>
      </ng-template>
    </p-card>
  </div>
  } @if (showProductsTable) { &nbsp;
  <div>
    <div class="card flex flex-wrap justify-content-center gap-3">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-book" />

        <input
          type="text"
          pInputText
          placeholder="Agregar Nota"
          [(ngModel)]="observacion"
        />
      </p-iconField>

      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />

        <input
          type="text"
          pInputText
          placeholder="Buscar por nombre"
          [(ngModel)]="searchTerm"
        />
      </p-iconField>
    </div>
    <div>
      &nbsp;
      <p-table [value]="filterProducts(searchTerm)">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre del Producto</th>
            <th>Stock</th>
            <th>Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.stock_producto }}</td>
            <td>
              @if (isProductSelected(producto)) {

              <ng-container>
                <span>{{ producto.cantidad }} agregado(s)</span>
                <button
                  pButton
                  type="button"
                  icon="pi pi-undo"
                  class="p-button-rounded p-button-warning p-button-outlined"
                  (click)="revertProduct(producto)"
                ></button>
              </ng-container>

              } @else {
              <ng-container>
                <button
                  pButton
                  type="button"
                  icon="pi pi-minus"
                  class="p-button-rounded p-button-secondary p-button-outlined"
                  (click)="decrement(producto)"
                ></button>
                <input
                  type="number"
                  pInputText
                  [(ngModel)]="producto.cantidad"
                  [min]="1"
                  [max]="producto.stock_producto"
                  style="width: 60px; margin: 0 8px"
                />
                <button
                  pButton
                  type="button"
                  icon="pi pi-plus"
                  class="p-button-rounded p-button-secondary p-button-outlined"
                  (click)="increment(producto)"
                ></button>
                <button
                  pButton
                  type="button"
                  icon="pi pi-check"
                  class="p-button-rounded p-button-success p-button-outlined"
                  (click)="addProduct(producto)"
                  [disabled]="
                    producto.cantidad > producto.stock_producto ||
                    producto.cantidad < 1
                  "
                ></button>
              </ng-container>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  }

  <!-- Componente de carga -->
  <p-blockUI [blocked]="loading">
    <div
      class="loading-container p-d-flex p-jc-center p-ai-center p-flex-column"
    >
      <p
      [(ngModel)]="loadingMessage"
      >

      </p>
      <p-progressSpinner
        ariaLabel="loading"
        styleClass="w-4rem h-4rem"
        strokeWidth="8"
        fill="var(--surface-ground)"
      ></p-progressSpinner>
    </div>
  </p-blockUI>
</p-fieldset>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
