<p-fieldset legend="Registro y Detalles">
  <div class="formgroup-inline">
    <div class="field">
      <label for="searchInput" class="p-sr-only">Buscar por Cédula:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon icon="pi pi-search" />
        <input
          id="searchInput"
          type="text"
          pInputText
          placeholder="Buscar por Cédula"
          [(ngModel)]="searchQuery"
        />
     @if (searchQuery) {
      <button
     
      type="button"
      class="p-button p-button-icon-only p-button-rounded p-button-text"
      (click)="clearSearch()"
    >
      <span class="pi pi-times"></span>
    </button>
     }
      </p-iconField>
    </div>
    <div class="field">
      <button
        pButton
        type="button"
        label="Buscar"
        (click)="searchUser()"
      ></button>
    </div>

    <div class="field">
      <label for="dropdown" class="p-sr-only">Seleccionar Usuario:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon icon="pi pi-user" />
        <p-dropdown
          id="dropdown"
          [options]="dropdownOptions"
          [(ngModel)]="selectedUser"
          optionLabel="tx_nombre"
          [filter]="true"
          filterBy="tx_nombre"
          [showClear]="true"
          placeholder="Seleccionar o escribir Usuario"
          (onChange)="selectUser($event)"
        >
          <ng-template let-user pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ user.tx_nombre }} ({{ user.tx_cedula }})</div>
            </div>
          </ng-template>
        </p-dropdown>
      </p-iconField>
    </div>
  </div>

  @if (selectedUser) {
    <ng-container >
      <p-card class="user-card" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <div class="header-content">
            <span class="pi pi-user card-icon"></span>
            <span>Trabajador</span>
            &nbsp;
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              label="Asignar Productos"
              (click)="toggleProducts()"
            ></button>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="field">
            <label>Nombre:</label>
            <span>{{ selectedUser.tx_nombre }}</span>
          </div>
          <div class="field">
            <label>Cédula:</label>
            <span>{{ selectedUser.tx_cedula }}</span>
          </div>
          <div class="field">
            <label>Área:</label>
            <span>{{ selectedUser.tx_area }}</span>
          </div>
          <div class="field">
            <label>Cargo:</label>
            <span>{{ selectedUser.tx_cargo }}</span>
          </div>
          <div class="field">
            <label>Vehículo:</label>
            <span>{{ selectedUser.tx_vehiculo ? 'Tiene' : 'No Tiene' }}</span>
          </div>
          @if (selectedUser.tx_vehiculo) {
            <ng-container >
              <div class="field">
                <label>Placa:</label>
                <span>{{ selectedUser.tx_vehiculo }}</span>
              </div>
              <div class="field">
                <label>Tipo:</label>
                <span>{{ selectedUser.tx_vehiculo_descripcion }}</span>
              </div>
            </ng-container>
          }
        </ng-template>
        <ng-template pTemplate="footer">
          <button
            pButton
            type="button"
            label="Realizar Registro"
            (click)="register()"
          ></button>
        </ng-template>
      </p-card>
    </ng-container>
  }

  @if (showProductsTable) {
    <div >
      <p-table [value]="ListProductos">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre del Producto</th>
            <th>Stock</th>
            <th>Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto>
          <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.stock_producto }}</td>
            <td>
              <input
                type="number"
                pInputText
                [(ngModel)]="producto.cantidad"
                min="1"
                style="width: 60px; margin-right: 8px;"
              />
              <button
                pButton
                type="button"
                icon="pi pi-plus"
                (click)="addProduct(producto)"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  }
</p-fieldset>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
