// Variables
$primary-color: #00bcd4;
$primary-color-hover: #0097a7;
$secondary-color: #4969de;
$text-color: #fff;
$background-color: #1e1e1e;
$input-background-color: #2e2e2e;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$font-family: Arial, sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
// Global Styles
body {
  font-family: $font-family;
  color: $text-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212; // Un color de fondo para toda la página
}

.login-container {
  background-color: $background-color;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px $box-shadow-color;
  text-align: center;
  max-width: 400px;
  width: 100%;

  h2 {
    color: $secondary-color;
    margin-bottom: 20px;
    font-family: "Lobster", sans-serif;
  }

  label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    color: #b0bec5;
  }

  img {
    max-width: 150px;

    border-radius: 10%;
  }

  .p-field {
    margin-bottom: 16px;
  }

}

.footer {
  position: fixed;
  bottom: 20px;
}
