// Variables

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
$background-color: #1e1e1e;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
}

.login-containe {
  background-color: $background-color;
}

// Centrar el contenedor del formulario
:host ::ng-deep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex: 1;

  .p-password {
      width: 100%;
  }

  .p-button {
      background: var(--primary-color);
  }
}

// Fuente personalizada para el título
.font-lobster {
  font-family: "Lobster", sans-serif;
}




// Asegurar que el toast sea responsive
::ng-deep .p-toast {
  &.p-toast-top-right {
      top: 20px;
      right: 20px;
  }
}

img{
  border-radius: 10%;
}

