<body>
    <div class="login-container">
      <img
        
        src="https://scontent.fgye2-1.fna.fbcdn.net/v/t39.30808-6/354451396_646717150831253_6009066279150692232_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeERO3UzKGJsH1FXPaEL53YBS06yG76N1jBLTrIbvo3WMMe3lARFlOPRycLgQ9OdtsymsfltHUksJ0C0xNx1dgov&_nc_ohc=2HqkxbCIvIAQ7kNvgFJ1XJ9&_nc_ht=scontent.fgye2-1.fna&oh=00_AYBccV5LKkHDOUvaX8UqrtgdS5XmhVW7en0G4ahlS-M3-w&oe=66795751"
        alt="Logo"
      />
      <h2>
        Seguridad Industrial
       
      </h2>
      <form>
        <div>
          <label for="username">Usuario:</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div>
          <label for="password">Contraseña:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Ingresar</button>
        <a 
        routerLink="register"
        >Registrar</a>
        <a 
        routerLink="forgot"
        >Olvidé mi contraseña</a>
        
      </form>
    </div>
    
  </body>