<div class="login-containe p-4 shadow-2 border-round lg:w-6">
  <div class="text-center mb-5">
    <img src="{{ imgUrl }}" alt="Image" width="250" class="mb-3 rounded-xl" />
    <div class="text-blue-500 text-4xl font-medium mb-3 font-lobster">
      Aguapen App
    </div>
  </div>

  <form [formGroup]="formLogin()" (ngSubmit)="onSubmit()">
    <label for="usuario" class="block text-gray-400 font-medium mb-2"
      >Usuario:
    </label>
    <input
      id="usuario"
      type="text"
      placeholder="Ingrese su usuario"
      pInputText
      formControlName="usuario"
      class="w-full mb-3"
    />

    <label for="password" class="block text-gray-400 font-medium mb-2"
      >Contraseña:
    </label>
    <input
      pPassword
      id="password"
      type="password"
      feedback="false"
      formControlName="password"
      placeholder="Ingrese su contraseña"
      class="w-full mb-3"
    />

    <button
      type="submit"
      [disabled]="formLogin().invalid"
      [loading]="loading"
      pButton
      pRipple
      label="Ingresar"
      icon="pi pi-user"
      class="w-full"
    ></button>
  </form>
  <app-footer></app-footer>
</div>

<p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  ></p-toast>