<div class="formgroup-inline">
  <div class="field">
    <p-dropdown
      id="categoryDropdown"
      [options]="categories"
      [(ngModel)]="selectedCategory"
      [showClear]="true"
      placeholder="Seleccionar el tipo de reporte"
      (onChange)="onCategoryChange()"
    >
    </p-dropdown>
  </div>
  @if (selectedCategory) {
  <div class="field">
    <p-dropdown
      id="dropdown"
      [options]="uniqueItems"
      [(ngModel)]="selectedItem"
      [optionLabel]="optionLabel"
      [filter]="true"
      [filterBy]="filterBy"
      [showClear]="true"
      placeholder="Seleccionar o escribir"
      (onChange)="filterReportsByItem()"
    >
    </p-dropdown>
  </div>

  }

  <div class="field">
    <button
      pButton
      type="button"
      icon="pi pi-file-pdf"
      (click)="exportToPDF()"
      class="p-button-rounded p-button-primary"
      aria-label="Exportar a PDF"
    ></button>
  </div>
</div>

<div class="formgroup-inline">
  <div class="field">
    <label for="stardate">Fecha Inicio:</label>
    <input
      id="stardate"
      type="date"
      [(ngModel)]="startDate"
      class="p-inputtext"
      placeholder="Fecha Inicio"
    />
  </div>

  <div class="field">
    <label for="endDate">Fecha Final:</label>
    <input
      id="endDate"
      type="date"
      [(ngModel)]="endDate"
      class="p-inputtext"
      placeholder="Fecha Fin"
    />
  </div>

  <div class="field">
    <button
      pButton
      type="button"
      label="Filtrar por Fecha"
      (click)="filterReportsByDate()"
    ></button>
  </div>

  <div class="field">
    <button
      pButton
      type="button"
      label="Limpiar Filtros de Fecha"
      (click)="clearDateFilter()"
      class="p-ml-2"
    ></button>
  </div>
</div>

@if (selectedCategory === null || selectedCategory === '') {
<div class="loading-container p-d-flex p-jc-center p-ai-center p-flex-column">
  <p>Seleccione una categoría de reportes</p>
</div>

} @else {
<div id="reportTable">
  <p-table [value]="filteredReports">
    <ng-template pTemplate="header">
      <tr>
        <th>N°</th>
        <th>Usuario</th>
        <th>Codigo</th>
        <th pSortableColumn="fecha_registro">
          Fecha
          <p-sortIcon field="fecha_registro"></p-sortIcon>
        </th>
        @switch (selectedCategory) { @case ('trabajadores') {
        <th>Nombre</th>
        } @case ('areas') {
        <th>Nombre Área</th>
        } @case ('vehiculos') {
        <th>Placa</th>
        } }
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Observaciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr>
        @switch (selectedCategory) {
        @case ('trabajadores') {
        <td>{{ report.id_tbl_registros }}</td>
        } @case ('areas') {
        <td>{{ report.id_tbl_registros_areas }}</td>
        } @case ('vehiculos') {
        <td>{{ report.id_tbl_registros_vehiculos }}</td>
        }
       }
        <td>{{ report.nombre_completo }}</td>
        <td>{{ report.codigo_producto }}</td>
        <td>{{ report.fecha_registro }}</td>
        @switch (selectedCategory) { @case ('trabajadores') {
        <td>{{ report.nombre }}</td>
        } @case ('areas') {
        <td>{{ report.nombre_area }}</td>
        } @case ('vehiculos') {
        <td>{{ report.placa }}</td>
        } }
        <td>{{ report.nombre_producto }}</td>
        <td>{{ report.cantidad }}</td>
        <td>{{ report.observacion }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

}

<!-- Componente de carga -->
<p-blockUI [blocked]="loadingSpinner">
  <div class="loading-container">
    <p>{{ loadingMessage }}</p>

    <p-progressSpinner
      ariaLabel="loading"
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
    >
    </p-progressSpinner>
  </div>
</p-blockUI>
<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
