<div class="field">
  <p-dropdown
    [options]="items"
    [(ngModel)]="selectedItem"
    [optionLabel]="optionLabel"
    [filter]="true"
    [filterBy]="filterBy"
    [showClear]="showClear"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [styleClass]="'w-full ' + styleClass"
    (onChange)="onSelect($event)"
    (onClear)="onClear()"
  >
    <!-- Template for selected item -->
    <ng-template pTemplate="selectedItem" let-item>
      @if (itemTemplate) {
        <ng-container 
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
      } @else {
        <div class="flex align-items-center gap-2">
          <div>
            {{ getDisplayInfo(item).label }}
            @if (secondaryLabel) {
              <span class="text-gray-500 ml-2">
                ({{ getDisplayInfo(item).secondary }})
              </span>
            }
          </div>
        </div>
      }
    </ng-template>

    <!-- Template for dropdown items -->
    <ng-template let-item pTemplate="item">
      @if (itemTemplate) {
        <ng-container 
          [ngTemplateOutlet]="itemTemplate"
          [ngTemplateOutletContext]="{ $implicit: item }">
        </ng-container>
      } @else {
        <div class="flex align-items-center gap-2">
          @if (showInitials) {
            <div class="flex justify-center items-center w-8 h-8 rounded-full bg-primary text-white">
              {{ getDisplayInfo(item).initials }}
            </div>
          }
          <div>
            {{ getDisplayInfo(item).label }}
            @if (secondaryLabel) {
              <span class="text-gray-500 ml-2">
                ({{ getDisplayInfo(item).secondary }})
              </span>
            }
          </div>
        </div>
      }
    </ng-template>
  </p-dropdown>
</div>