.loading-container {
  text-align: center;
  padding: 20px;
}

::ng-deep {
  .p-dialog {
    .p-dialog-header {
      background-color: var(
        --primary-color
      ); // Cambia el color de fondo del encabezado
      color: rgb(0, 0, 0); // Cambia el color del texto del encabezado
      font-size: large;
    }

    .p-dialog-content {
      padding: 30px; // Añade padding al contenido del diálogo
    }

    .p-field {
      margin-bottom: 1.5rem; // Añade un margen inferior a los campos del formulario

      label {
        font-weight: bold; // Cambia el estilo de las etiquetas
      }
    }

    .p-dialog-footer {
      display: flex;
      justify-content: flex-end; // Alinea los botones al final del diálogo
      padding-top: 1rem;
      border-top: 1px var(--primary-color) solid; // Añade una línea superior al pie del diálogo

      button {
        margin-left: 0.5rem; // Añade margen entre los botones
      }
    }
  }
}
