@defer (when users().length > 0) {
<div class="formgroup-inline flex items-center gap-3 mb-3">
  <app-autocomplete
    #autocompleteComp
    [items]="users"
    [config]="userConfig"
    [placeholder]="'Seleccionar un Usuario'"
    (itemSelected)="onUserSelected($event)"
  ></app-autocomplete>

  <button
    pButton
    pRipple
    icon="pi pi-times"
    class="p-button-danger"
    (click)="onClearSelectedUser(autocompleteComp)"
  ></button>

  <button
    label="Registrar"
    pButton
    pRipple
    icon="pi pi-check"
    class="p-button-success"
    (click)="onSaveUser()"
    [disabled]="userForm().invalid"
    [loading]="loading()"
  ></button>
</div>
} @placeholder {
<div class="flex items-center justify-center p-4">
  <i class="pi pi-spin pi-spinner text-2xl"></i>
  <span class="ml-2 text-center">Cargando Datos...</span>
</div>
}

<form [formGroup]="userForm()" class="mb-2">
  <div class="p-fluid p-formgrid grid">
    <div class="field md:col-6">
      <label for="cedula">Cédula</label>
      <input
        pInputText
        id="cedula"
        formControlName="cedula"
        placeholder="Ingrese número su cédula"
      />
      @if (getFieldError('cedula')) {
        <small class="text-red-500">{{ getFieldError("cedula") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="telefono">Teléfono (Opcional)</label>
      <input
        pInputText
        id="telefono"
        formControlName="telefono"
        placeholder="Ingrese su número de teléfono"
      />
      @if (getFieldError('telefono')) {
        <small class="text-red-500">{{ getFieldError("telefono") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="nombres">Nombres</label>
      <input
        pInputText
        id="nombres"
        formControlName="nombres"
        placeholder="Ingrese sus nombres"
      />
      @if (getFieldError('nombres')) {
        <small class="text-red-500">{{ getFieldError("nombres") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="apellidos">Apellidos</label>
      <input
        pInputText
        id="apellidos"
        formControlName="apellidos"
        placeholder="Ingrese sus apellidos"
      />
      @if (getFieldError('apellidos')) {
        <small class="text-red-500">{{ getFieldError("apellidos") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        formControlName="email"
        placeholder="Ingrese su email"
      />
      @if (getFieldError('email')) {
        <small class="text-red-500">{{ getFieldError("email") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="usuario">Usuario (Alias)</label>
      <input
        pInputText
        id="usuario"
        formControlName="usuario"
        placeholder="Ingrese su usuario"
      />
      @if (getFieldError('usuario')) {
        <small class="text-red-500">{{ getFieldError("usuario") }}</small>
        }
    </div>

    <div class="field md:col-6">
      <label for="password">Contraseña</label>
      <p-password
        id="password"
        type="password"
        feedback="false"
        toggleMask="true"
        formControlName="password"
        placeholder="Ingrese su contraseña"
        class="w-full mb-3"
      />
      @if (getFieldError('password')) {
        <small class="text-red-500">{{ getFieldError("password") }}</small>
        }
    </div>
  </div>
</form>
