<!-- edit-delete.component.html -->
<div class="formgroup-inline">
  <div class="field">
    <p-dropdown
      [options]="reportOptions"
      [(ngModel)]="selectedReport"
      placeholder="Seleccionar el tipo de reporte"
      (onChange)="onReportChange($event)"
    >
    </p-dropdown>
  </div>

  @if (trabajadoresOptions.length > 0) {
  <div class="field">
    <p-dropdown
      [options]="trabajadoresOptions"
      [(ngModel)]="selectedTrabajador"
      placeholder="Seleccionar o escribir el trabajador"
      [filter]="true"
      filterBy="label,value"
      (onChange)="onTrabajadorChange($event)"
    >
    </p-dropdown>
  </div>
  } @if (idRegistrosOptions.length > 0) {
  <div class="field">
    <p-dropdown
      [options]="idRegistrosOptions"
      [(ngModel)]="selectedIdRegistro"
      placeholder="Seleccionar ID de Registro"
      (onChange)="onIdRegistroChange($event)"
    >
    </p-dropdown>

    
  </div>
  }

  @if (idRegistrosOptions.length > 0) {
    <div class="field">
      @if (estadoRegistro === 0) {
        <p-button
          label="Validar"
          severity="success"
          (click)="onValidarRegistro()"
          [loading]="loading"
        />
      } @else {
        <p-button
          label="Anular"
          severity="danger"
          (click)="onAnularRegistro()"
          [loading]="loading"
        />
      }
    </div>
  }
</div>

@if (registroDetalles.length > 0) {

<div class="card">
  <p-table [value]="registroDetalles">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>CÓDIGO</th>

        <th>PRODUCTO</th>
        <th>CANTIDAD</th>
        <th>ACCIÓN</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detalle>
      <tr>
        <td>{{ detalle.id_tbl_registro_detalles }}</td>
        <td>{{ detalle.codigo_producto }}</td>

        <td>{{ detalle.nombre_producto }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>
          <div class="flex md:flex-row">
            <div>
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                (click)="onEditProduct(detalle)"
              />
            </div>
            <div>
              <p-button
                icon="pi pi-trash"
                [rounded]="true"
                severity="danger"
                (click)="onDeleteDetalle(detalle.id_tbl_registro_detalles)"
              />
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

}

<div class="grid">
  @if (registroDetalles.length > 0) {

  <div class="col-12 xl:col-6">
    <p-card header="Producto a Editar">
      @if (selectedProduct) {
      <div class="field">
        <p>ID: {{ selectedProduct.id_tbl_productos }}</p>
        <p>Código: {{ selectedProduct.codigo_producto }}</p>
        <p>Nombre: {{ selectedProduct.nombre_producto }}</p>
        <p>Stock Actual: {{ selectedProduct.stock_producto }}</p>
        <p>Cantidad: {{ selectedProduct.cantidad }}</p>
      </div>
      }

      <p-button
        label="Reemplazar Producto"
        severity="success"
        (click)="onReplaceProduct()"
        [loading]="loading"
      />
    </p-card>
  </div>

  <div class="col-12 xl:col-6">
    <p-card header="Producto Nuevo">
      <div class="field">
        <p-dropdown
          [options]="productosOptions"
          [(ngModel)]="selectedNewProduct"
          placeholder="Seleccionar Nuevo Producto"
          (onChange)="onNewProductChange($event)"
        >
        </p-dropdown>
      </div>

      @if (selectedNewProduct) {
      <div class="field">
        <p>ID: {{ selectedNewProduct.id }}</p>
        <p>Código: {{ selectedNewProduct.codigo_producto }}</p>
        <p>Nombre: {{ selectedNewProduct.nombre_producto }}</p>
        <p>Stock Actual: {{ selectedNewProduct.stock_producto }}</p>
        <label for="cantidad">Cantidad</label>
        &nbsp;
        <input
          type="number"
          pInputText
          id="cantidad"
          [(ngModel)]="newProductQuantity"
          min="1"
          max="{{ selectedNewProduct.stock_producto }}"
        />
      </div>
      }
    </p-card>
  </div>
  }
</div>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
