<!-- edit-delete.component.html -->
<div class="formgroup-inline">
  <div class="field">
    <p-dropdown
      [options]="reportOptions"
      [(ngModel)]="selectedReport"
      placeholder="Seleccionar el tipo de reporte"
      (onChange)="onReportChange($event)"
    >
    </p-dropdown>
  </div>

  @if (trabajadoresOptions.length > 0) {
  <div class="field">
    <p-dropdown
      [options]="trabajadoresOptions"
      [(ngModel)]="selectedTrabajador"
      placeholder="Seleccionar o escribir el trabajador"
      [filter]="true"
      filterBy="label,value"
      (onChange)="onTrabajadorChange($event)"
    >
    </p-dropdown>
  </div>
  } @if (idRegistrosOptions.length > 0) {
  <div class="field">
    <p-dropdown
      [options]="idRegistrosOptions"
      [(ngModel)]="selectedIdRegistro"
      placeholder="Numero de Registro"
      (onChange)="onIdRegistroChange($event)"
    >
    </p-dropdown>
  </div>
  } @if (idRegistrosOptions.length > 0) { @if (estadoRegistro === 0) {
  <div class="field">
    <p-button
      label="Validar"
      severity="success"
      (click)="onValidarRegistro()"
      [loading]="lodingEstadoRegistro"
    />
  </div>
  } @else {
  <div class="field">
    <p-button
      label="Anular"
      severity="danger"
      (click)="onAnularRegistro()"
      [loading]="lodingEstadoRegistro"
    />
  </div>

  <div class="field">
    <p-dropdown
      [options]="options"
      [(ngModel)]="Observaciones"
      placeholder="Observaciones"
      [editable]="true"

    />
  </div>

  } }
</div>





<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
