<div class="flex lg:flex-row gap-4">
  <app-search
    [placeholder]="'Buscar por nombre'"
    [editable]="per_editar === 1"
    (searchChange)="onSearchTermChange($event)"
    (onAdd)="openAddProductDialog()"
  ></app-search>
</div>

@if (loading) {
  <div class="loading-container">
    <p>Cargando productos...</p>
    <p-progressSpinner
      ariaLabel="loading"
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
    ></p-progressSpinner>
  </div>
} @else {
  @defer (when !loading) {
    <app-table
      [data]="filterProducts(searchTerm)"
      [columns]="columnsProducts"
      [rowsPerPageOptions]="[10, 20, 30, 40]"
      [editable]="per_editar === 1"
      (onEdit)="openEditProductDialog($event)"
      (onDelete)="deleteProduct($event)"
    ></app-table>
  } @loading {
    <div class="loading-placeholder">
      <p>Cargando tabla de productos...</p>
      <p-progressSpinner
        styleClass="w-3rem h-3rem"
        strokeWidth="4"
      ></p-progressSpinner>
    </div>
  } @error {
    <div class="error-message">
      Error al cargar la tabla. Por favor, intente de nuevo.
    </div>
  }
}

@defer (when dialogVisible) {
  <p-dialog
    [(visible)]="dialogVisible"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '25rem' }"
  >
    <ng-template pTemplate="header">
      @if (productForm().get("id")?.value === null) {
        <span class="font-semibold">Agregar Producto</span>
      } @else {
        <span class="font-semibold">Editar Producto</span>
      }
    </ng-template>

    <app-forms
      [formGroup]="productForm()"
      [fields]="fields"
      [loading]="loadingSave"
      (formSubmit)="saveProduct()"
      (formCancel)="dialogVisible = false"
    ></app-forms>
  </p-dialog>
}

@defer {
  <p-toast
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  ></p-toast>
  <p-confirmDialog />
} @placeholder {
  <!-- Placeholder para toast y confirm dialog -->
  <div class="hidden"></div>
}