body {
  
    font-family: Arial, sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
  }
  .login-container h2 {
    color: #4969de;
    margin-bottom: 20px;
  }
  .login-container label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    color: #b0bec5;
  }
  .login-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
  }
  .login-container input[type="text"], .login-container input[type="password"] {
    background-color: #2e2e2e;
    color: #fff;
  }
  .login-container button {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .login-container button:hover {
    background-color: #0097a7;
  }
  .login-container a {
    color: #00bcd4;
    text-decoration: none;
    display: block;
    margin-top: 10px;
  }
  .login-container a:hover {
    text-decoration: underline;
  }
  .login-container .error {
    color: #e57373;
    margin-top: 10px;
  }
  .login-container img {
    max-width: 200px;
    margin-bottom: 20px;
  }
