<div class="p-4">
  @if (user()) {
  <!-- Comprobar si el usuario tiene permisos asignados -->
  @if (listModulesUser().length === 0) {
  <p>El usuario no tiene permisos asignados.</p>
  }
  <div class="container">
    @if (groupedModules.length > 0) { @for (module of groupedModules; track
    module.nombre_modulo) {
    <div class="module-section">
      <h2 class="module-title">{{ module.nombre_modulo }}</h2>
      @for (menu of module.menus; track menu) {
      <div class="menu-section">
        <h3 class="menu-title">{{ menu.nombre_menu }}</h3>
        <div class="options-grid">
          @for (opcion of menu.opciones; track opcion) {
          <div class="option-card card">
            <div class="option-header">
              <span class="option-label">{{ opcion.opcion_label }}</span>
              <i [class]="opcion.opcion_icon" class="option-icon"></i>
            </div>

            <div class="permission-row">
              <span class="permission-label">Ver:</span>
              <p-tag 
                [severity]="opcion.per_ver === 1 ? 'success' : 'danger'"
                (click)="opcion.per_ver === 1 ? opcion.per_ver = 0 : opcion.per_ver = 1"
                [style]="{ cursor: 'pointer' }"
              >
                {{ opcion.per_ver === 1 ? 'Sí' : 'No' }}
              </p-tag>
            </div>

            <div class="permission-row">
              <span class="permission-label">Editar:</span>
              <p-tag 
                [severity]="opcion.per_editar === 1 ? 'success' : 'danger'"
                (click)="opcion.per_editar === 1 ? opcion.per_editar = 0 : opcion.per_editar = 1"
               
                [style]="{ cursor: 'pointer' }"
              >
                {{ opcion.per_editar === 1 ? 'Sí' : 'No' }}
              </p-tag>
            </div>

            <button
              pButton
              pRipple
              label="Asignar"
              icon="pi pi-check"
              class="success-button"
              rounded="true"
              (click)="onAssign(opcion, $event)"
            ></button>
          </div>
          }
        </div>
      </div>
      }
    </div>
    } } @else {
    <div class="empty-state">
      <span>No se encontraron módulos para el usuario.</span>
    </div>
    }
  </div>
  }
</div>
<p-confirmDialog />
