.loading-container {
  text-align: center;
  padding: 20px;
}

::ng-deep {
  .p-dialog {
    .p-dialog-header {
      background-color: var(--primary-color);
      color: aliceblue;

      font-size: large;
    }

    .p-dialog-content {
      padding: 30px;
    }

    .p-field {
      margin-bottom: 1.5rem;

      label {
        font-weight: bold;
      }
    }

    .p-dialog-footer {
      display: flex;
      justify-content: flex-end; // Alinea los botones al final del diálogo
      padding-top: 1rem;
      border-top: 1px var(--primary-color) solid; // Añade una línea superior al pie del diálogo

      button {
        margin-left: 0.5rem; // Añade margen entre los botones
      }
    }
  }
}
