<div class="layout-topbar">
  <a class="layout-topbar-logo">
    <p-image src="{{ imgUrl }}" alt="Image" />
    <span class="font-semibold text-2xl text-primary">Aguapen App</span>
  </a>

  <button
    #menubutton
    pRipple
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <app-themes (click)="accionThemes()"></app-themes>
    <button
      class="p-link layout-topbar-button"
      (click)="visible = true"
      (click)="dataUser()"
    >
      <i class="pi pi-user"></i>
      <span>Usuario</span>
    </button>
    <button class="p-link layout-topbar-button" (click)="logout($event)">
      <i class="pi pi-sign-out"></i>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  header="Datos del Usuario"
  [style]="{ width: '30rem' }"
>
  @if (loading) {
  <div class="loading-container">
    <p>Cargando datos del usuario...</p>
    <p-progressSpinner
      ariaLabel="loading"
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
    ></p-progressSpinner>
  </div>
  } @else {
  <form [formGroup]="userForm()" class="p-fluid">
    <div class="p-field">
      <label for="cedula">Cédula</label>
      <input id="cedula" pInputText formControlName="cedula" />
    </div>
    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input id="telefono" pInputText formControlName="telefono" />
    </div>
    <div class="p-field">
      <label for="nombres">Nombres</label>
      <input id="nombres" pInputText formControlName="nombres" />
    </div>
    <div class="p-field">
      <label for="apellidos">Apellidos</label>
      <input id="apellidos" pInputText formControlName="apellidos" />
    </div>
    <div class="p-field">
      <label for="email">Correo</label>
      <input id="email" type="email" pInputText formControlName="email" />
    </div>
    <div class="p-field">
      <label for="usuario">Usuario</label>
      <input id="usuario" pInputText formControlName="usuario" />
    </div>
    <div class="p-field">
      <p-checkbox
        label="Cambiar Contraseña"
        (click)="
          changePassword === true
            ? (changePassword = false)
            : (changePassword = true)
        "
        (click)="togglePassword()"
        [binary]="true"
      ></p-checkbox>
    </div>
    @if (changePassword) {
    <div>
      <div class="p-field">
        <label for="newPassword">Nueva Contraseña</label>
        <p-password
          id="newPassword"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
      <div class="p-field">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
    </div>
    }
  </form>

  }
  <p-footer >
    <div>
      <button
        pButton
        label="Cancelar"
        class="p-button-text"
        icon="pi pi-times"
        (click)="visible = false && (changePassword = false)"
      ></button>
      <button
        pButton
        label="Actualizar"
        (click)="updateUser($event)"
        [loading]="loadingUpdate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
<p-confirmPopup />
