@defer (when users().length > 0) {
<div class="formgroup-inline flex items-center gap-3 mb-3">
  <app-autocomplete
    #autocompleteComp
    [items]="users"
    [config]="userConfig"
    [placeholder]="'Seleccionar un Usuario'"
    (itemSelected)="onUserSelected($event)"
  ></app-autocomplete>

  <button
    pButton
    pRipple
    icon="pi pi-times"
    class="p-button-danger"
    (click)="onClearSelectedUser(autocompleteComp)"
  ></button>

  <button
    label="Actualizar"
    pButton
    pRipple
    icon="pi pi-check"
    class="p-button-success"
    (click)="onSaveUser()"
    [disabled]="userForm().invalid"
    [loading]="loading()"
  ></button>
</div>
} @placeholder {
<div class="flex items-center justify-center p-4">
  <i class="pi pi-spin pi-spinner text-2xl"></i>
  <span class="ml-2 text-center">Cargando Datos...</span>
</div>
}

<form [formGroup]="userForm()" class="mb-2">
  <div class="p-fluid p-formgrid grid">
    <div class="field md:col-6">
      <label for="cedula">Cédula</label>
      <input
        pInputText
        id="cedula"
        formControlName="cedula"
        placeholder="Ingrese número su cédula"
      />
      @if (hasRequiredFields('cedula')) {
      <small class="text-red-500">Este campo es requerido.</small>
      } @if (hasMinLength('cedula')) {
      <small class="text-red-500">La cédula debe tener 10 caracteres.</small>
      } @if (hasMaxLength('cedula')) {
      <small class="text-red-500">
        La cédula no debe tener más de 10 caracteres.</small
      >
      } @if (hasPattern('cedula')) {
      <small class="text-red-500"> La cédula debe ser numérico.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="telefono">Teléfono (Opcional)</label>
      <input
        pInputText
        id="telefono"
        formControlName="telefono"
        placeholder="Ingrese su número de teléfono"
      />

      @if (hasMinLength('telefono')) {
      <small class="text-red-500">El teléfono debe tener 10 caracteres.</small>
      } @if (hasMaxLength('telefono')) {
      <small class="text-red-500">
        El teléfono no debe tener más de 10 caracteres.</small
      >
      } @if (hasPattern('telefono')) {
      <small class="text-red-500"> El teléfono debe ser numérico.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="nombres">Nombres</label>
      <input
        pInputText
        id="nombres"
        formControlName="nombres"
        placeholder="Ingrese sus nombres"
      />

      @if (hasRequiredFields('nombres')) {
      <small class="text-red-500">Este campo es requerido.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="apellidos">Apellidos</label>
      <input
        pInputText
        id="apellidos"
        formControlName="apellidos"
        placeholder="Ingrese sus apellidos"
      />
      @if (hasRequiredFields('apellidos')) {
      <small class="text-red-500">Este campo es requerido.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="email">Email</label>
      <input
        pInputText
        id="email"
        formControlName="email"
        placeholder="Ingrese su email"
      />
      @if (hasEmail('email')) {
      <small class="text-red-500">El email no es válido.</small>
      } @if (hasRequiredFields('email')) {
      <small class="text-red-500">Este campo es requerido.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="usuario">Usuario (Alias)</label>
      <input
        pInputText
        id="usuario"
        formControlName="usuario"
        placeholder="Ingrese su usuario"
      />
      @if (hasRequiredFields('usuario')) {
      <small class="text-red-500">Este campo es requerido.</small>
      }
    </div>

    <div class="field md:col-6">
      <label for="password">Contraseña</label>
      <p-password
        id="password"
        type="password"
       feedback="false"
        [toggleMask]="showPassword"
        formControlName="password"
        placeholder="Ingrese su contraseña"
        class="w-full mb-3"
        
      />
      @if (hasMinLength('password')) {
      <small class="text-red-500"
        >La contraseña debe tener minimo 8 caracteres.</small
      >
      } @if (hasRequiredFields('password')) {
      <small class="text-red-500">Este campo es requerido.</small>
      }
    </div>

    <div class="field md:col-6">
      <!----Reset Password Button---->
      <label for="password">Resetear Contraseña</label>
      <button
        pButton
        pRipple
        label="Reset"
        class="p-button-success"
        (click)="onResetPassword()"
      ></button>
    </div>
  </div>
</form>
