.fixed-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Asegúrate de que tenga un z-index alto para que esté por encima del contenido */
}

.content {
  margin-top: 60px; /* Ajusta esto según la altura de tu toolbar */
}
