.layout {
  .main-content {
    margin-top: 60px; // Ajusta según la altura del toolbar
    display: flex;

    &.menu-open .content {
      margin-left: 250px; // Ajusta según el ancho del menú
      flex: 1;
    }

    &.menu-closed .content {
      margin-left: 0;
      flex: 1;
    }
  }

  app-menu {
    height: 100vh; // Asegúrate de que el menú tenga un fondo que cubra toda la altura de la pantalla
  //  background-color: #1e1e1e; // Asegúrate de que el menú tenga un fondo
    top: 77px; // Posición justo debajo del toolbar

    position: fixed;
  }

  app-toolbar {
    z-index: 1000; /* Ajusta según tus necesidades */
  }

  .content {
    padding: 30px; // Ajusta según tus necesidades
    transition: margin-left 0.3s ease;
    overflow: auto; // Asegúrate de que el contenido sea desplazable
    height: calc(
      100vh - 60px
    ); /* Altura del contenido menos la altura del toolbar */
    position: relative;
  }

  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;

      &.menu-open .content,
      &.menu-closed .content {
        margin-left: 0;
      }
    }

    app-menu {
      width: 100%;
      height: auto;
      top: 0;
      position: relative;
    }

    .content {
      margin-top: 20px;
      height: auto;
    }
  }

  @media (max-width: 480px) {
    .content {
      padding: 15px;
    }
  }
}
