.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-content {
    display: flex;
    flex: 1;
    transition: margin-left 0.3s ease;

    &.sidebar-open {
      margin-left: 250px; /* Ajusta según el ancho de tu sidebar */
    }

    &.sidebar-closed {
      margin-left: 0;
    }

    .content {
      flex: 1;
      padding: 1rem; /* Ajusta según tus necesidades */
    }
  }
}
