<body>
  <div class="forgot-password">
    <h2>Recuperar Contraseña</h2>

    <div class="p-field">
      <label for="cedula">Cédula</label>
      <input
        id="cedula"
        type="text"
        pInputText
        [(ngModel)]="cedula"
        name="cedula"
      />
    </div>

    <div class="p-field">
      <label for="nuevaClave">Nueva Contraseña</label>
      <input
        id="nuevaClave"
        type="password"
        pPassword
        [(ngModel)]="nuevaClave"
        name="nuevaClave"
      />
    </div>

    <button
      type="button"
      pButton
      label="Recuperar"
      (click)="recuperarClave()"
      [disabled]="loading"
    ></button>
    <button
      type="button"
      pButton
      label="Cancelar"
      (click)="cancelarRecuperacion()"
    ></button>
  </div>
</body>
<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
