<div class="layout-topbar">
  <a class="layout-topbar-logo">
    <p-image src="{{ imgUrl }}" alt="Image" />
    <span class="font-semibold text-2xl text-primary">Aguapen App</span>
  </a>

  <button
    #menubutton
    pRipple
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <app-themes (click)="accionThemes()"></app-themes>
    <button class="p-link layout-topbar-button" (click)="visible = true">
      <i class="pi pi-user"></i>
      <span>Usuario</span>
    </button>
    <button class="p-link layout-topbar-button" (click)="logout($event)">
      <i class="pi pi-sign-out"></i>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</div>
<p-dialog
  [(visible)]="visible"
  [modal]="true"
  header="Datos del Usuario"
  [style]="{ width: '30rem' }"
>
  <div class="p-fluid">
    <div class="p-field">
      <label for="cedula">Cédula</label>
      <input
        id="cedula"
        type="text"
        pInputText
        [(ngModel)]="user.cedula"
        disabled
      />
    </div>
    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input id="telefono" type="text" pInputText [(ngModel)]="user.telefono" />
    </div>
    <div class="p-field">
      <label for="nombres">Nombres</label>
      <input id="nombres" type="text" pInputText [(ngModel)]="user.nombres" />
    </div>
    <div class="p-field">
      <label for="apellidos">Apellidos</label>
      <input
        id="apellidos"
        type="text"
        pInputText
        [(ngModel)]="user.apellidos"
      />
    </div>
    <div class="p-field">
      <label for="correo">Correo</label>
      <input id="correo" type="email" pInputText [(ngModel)]="user.correo" />
    </div>
    <div class="p-field">
      <label for="usuario">Usuario</label>
      <input id="usuario" type="text" pInputText [(ngModel)]="user.usuario" />
    </div>

    <div class="p-field">
      <p-checkbox
        label="Cambiar Contraseña"
        [(ngModel)]="changePassword"
        [binary]="true"
      ></p-checkbox>
    </div>

    @if (changePassword) {
    <div>
      <div class="p-field">
        <label for="newPassword">Nueva Contraseña</label>
        <p-password
          id="newPassword"
          [(ngModel)]="password"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
      <div class="p-field">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <p-password
          id="confirmPassword"
          [(ngModel)]="confirmPassword"
          [feedback]="false"
          [toggleMask]="true"
        />
      </div>
    </div>
    }
  </div>
  <p-footer>
    <div>
      <button
        pButton
        label="Cancelar"
        class="p-button-text"
        icon="pi pi-times"
        (click)="visible = false"
      ></button>
      <button
        pButton
        label="Actualizar"
        (click)="updateUser($event)"
        [loading]="loadingUpdate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast class="p-toast-top-center"></p-toast>
<p-confirmPopup />
