<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button
        icon="pi pi-bars"
        class="mr-2"
        (click)="toggleSidebar()"
      ></p-button>
    </div>
    <div class="p-toolbar-group-center">
      <span class="font-bold text-2xl text-primary">{{ pageTitle }}</span>
    </div>
    <div class="p-toolbar-group-end">
      <p-button
        icon="pi pi-user"
        class="mr-2"
        (click)="visible = true"
      
      ></p-button>
    </div>
  </p-toolbar>
</div>

<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [responsive]="true"
  header="Datos del Usuario"
  [style]="{ width: '25rem' }"
>
  <div class="p-fluid">
    <div class="p-field">
      <label for="cedula">Cédula</label>
      <input
        id="cedula"
        type="text"
        pInputText
        [(ngModel)]="user.cedula"
        disabled
      />
    </div>
    <div class="p-field">
      <label for="telefono">Teléfono</label>
      <input id="telefono" type="text" pInputText [(ngModel)]="user.telefono" />
    </div>
    <div class="p-field">
      <label for="nombres">Nombres</label>
      <input id="nombres" type="text" pInputText [(ngModel)]="user.nombres" />
    </div>
    <div class="p-field">
      <label for="apellidos">Apellidos</label>
      <input
        id="apellidos"
        type="text"
        pInputText
        [(ngModel)]="user.apellidos"
      />
    </div>
    <div class="p-field">
      <label for="correo">Correo</label>
      <input id="correo" type="email" pInputText [(ngModel)]="user.correo" />
    </div>
    <div class="p-field">
      <label for="usuario">Usuario</label>
      <input id="usuario" type="text" pInputText [(ngModel)]="user.usuario" />
    </div>
    
  </div>
  <p-footer>
    <div>
      <button
        pButton
        label="Cancelar"
        class="p-button-text"
        icon="pi pi-times"
        (click)="visible = false"
      ></button>
      <button
        pButton
        label="Actualizar"
        (click)="updateUser($event)"
        icon="pi pi-check"
        [loading]="loadingUpdate"
      ></button>
    </div>
  </p-footer>
</p-dialog>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
<p-confirmPopup />
