<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button icon="pi pi-bars" class="mr-2" (click)="toggleMenu()"></p-button>
      
    </div>
    <div class="p-toolbar-group-center">
      <!----Imagen de logo--->
      
        <img src="assets/logoapp.png" alt="Logo" />
    
    
    </div>
    <div class="p-toolbar-group-end">
      <p-button icon="pi pi-user" class="mr-2"></p-button>
      &nbsp;
      <p-button icon="pi pi-sign-out"></p-button>
    </div>
  </p-toolbar>
</div>
