.welcome-container {
  display: flex;
    align-items: center;
    
  }
  
  .welcome-title {
    font-size: 24px;
    color: #4caf50;
  }
  
  .welcome-message {
    font-size: 18px;
    color: #555;
  }
  
  .welcome-button {
    margin-left: 20px;
  }
  