<div class="formgrid grid">
  <div class="field col">
    <p-inputGroup>
      <button
        type="button"
        pButton
        icon="pi pi-search"
        (click)="searchReport()"
      ></button>
      <input
        id="searchInput"
        type="text"
        pInputText
        placeholder="Buscar por Cédula"
        [(ngModel)]="searchQuery"
      />
      <button
        type="button"
        pButton
        icon="pi pi-times"
        class="p-button-danger"
        (click)="clearSearch()"
      ></button>
    </p-inputGroup>
  </div>
  <div class="field col">
    <p-dropdown
      id="dropdown"
      [options]="uniqueUsers"
      [(ngModel)]="selectedUser"
      optionLabel="nombre"
      [filter]="true"
      filterBy="nombre"
      [showClear]="true"
      placeholder="Seleccionar o escribir Usuario"
      (onChange)="filterReportsByName()"
    >
      <ng-template let-user pTemplate="item">
        <div class="flex align-items-center gap-2">
          <div>{{ user.nombre }} ({{ user.cedula }})</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>

<div class="formgrid grid">
  <div class="col-7 lg:col-5">
    <span class="font-semibold">Fecha Inicio:</span>
    <input
      id="startDate"
      type="date"
      [(ngModel)]="startDate"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
  </div>
  &nbsp;
  <div class="col-7  lg:col-5">
    <span class="font-semibold">Fecha Final:</span>
    <input
      id="endDate"
      type="date"
      [(ngModel)]="endDate"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
    />
    &nbsp;
  </div>
</div>

<div class="grid">
  <div class="col-6 md:col-2 lg:col-1">
    <button
      pButton
      type="button"
      label="Filtrar"
      (click)="filterReportsByDate()"
    ></button>
  </div>
  <div class="col-6 md:col-2 lg:col-1">
    <button
      pButton
      type="button"
      label="Limpiar"
      (click)="clearDateFilter()"
    ></button>
  </div>
  <div class="col-6 md:col-2 lg:col-1">
    <button
      pButton
      type="button"
      icon="pi pi-print"
      (click)="printTable()"
      class="p-button-rounded p-button-secondary"
      aria-label="Imprimir"
      position="right"
    ></button>
  </div>
</div>

@if (loading) {
<div class="loading-container p-d-flex p-jc-center p-ai-center p-flex-column">
  <p>Cargando reportes...</p>
  <p-progressSpinner
    ariaLabel="loading"
    styleClass="w-4rem h-4rem"
    strokeWidth="8"
    fill="var(--surface-ground)"
  ></p-progressSpinner>
</div>

} @else {

<!-- Tabla de reportes -->
<div id="reportTable">
  <p-table [value]="filteredReports">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Total Cantidades</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr>
        <td>{{ report.id }}</td>
        <td>{{ report.fecha_registro }}</td>
        <td>{{ report.nombre }}</td>
        <td>{{ report.nombre_producto }}</td>
        <td>{{ report.cantidad }}</td>
        <td>{{ report.total_cantidades }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
}

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
