<p-fieldset legend="Reportes">
  <div class="formgroup-inline">
    <div class="field">
      <label for="searchInput" class="p-sr-only">Buscar por Cédula:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          id="searchInput"
          type="text"
          pInputText
          placeholder="Buscar por Cédula"
          [(ngModel)]="searchQuery"
        />
        @if (searchQuery) {
        <button
          type="button"
          class="p-button p-button-icon-only p-button-rounded p-button-text"
          (click)="clearSearch()"
        >
          <span class="pi pi-times"></span>
        </button>
        }
      </p-iconField>
    </div>
    <div class="field">
      <button
        pButton
        type="button"
        label="Buscar"
        (click)="searchReport()"
      ></button>
    </div>
    <div class="field">
      <label for="dropdown" class="p-sr-only">Seleccionar Usuario:</label>
      <p-iconField iconPosition="left">
        <p-inputIcon icon="pi pi-user" />
        <p-dropdown
          id="dropdown"
          [options]="uniqueUsers"
          [(ngModel)]="selectedUser"
          optionLabel="nombre"
          [filter]="true"
          filterBy="nombre"
          [showClear]="true"
          placeholder="Seleccionar o escribir Usuario"
          (onChange)="filterReportsByName()"
        >
          <ng-template let-user pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>{{ user.nombre }} ({{ user.cedula }})</div>
            </div>
          </ng-template>
        </p-dropdown>
      </p-iconField>
    </div>
  </div>

  <div class="formgroup-inline">
    <div class="field">
      <label for="startDate" class="p-sr-only">Fecha Inicio:</label>
      <p-calendar
        id="startDate"
        [(ngModel)]="startDate"
        placeholder="Fecha Inicio"
        dateFormat="dd/mm/yy"
        showIcon="true"
      ></p-calendar>
    </div>
    <div class="field">
      <label for="endDate" class="p-sr-only">Fecha Fin:</label>
      <p-calendar
        id="endDate"
        [(ngModel)]="endDate"
        placeholder="Fecha Fin"
        dateFormat="dd/mm/yy"
        showIcon="true"
      ></p-calendar>
    </div>
    <div class="field">
      <button
        pButton
        type="button"
        label="Filtrar por Fecha"
        (click)="filterReportsByDate()"
      ></button>
    </div>
    <div class="field">
      <button
        pButton
        type="button"
        label="Limpiar Filtros de Fecha"
        (click)="clearDateFilter()"
        class="p-ml-2"
      ></button>
    </div>
  </div>

  @if (loading) {
  <div class="loading-container p-d-flex p-jc-center p-ai-center p-flex-column">
    <p>Cargando Reportes...</p>
    <p-progressSpinner
      ariaLabel="loading"
      styleClass="w-4rem h-4rem"
      strokeWidth="8"
      fill="var(--surface-ground)"
    ></p-progressSpinner>
  </div>
  } @else {
  <p-table [value]="filteredReports">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Nombre</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Total Cantidades</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-report>
      <tr>
        <td>{{ report.id_registro }}</td>
        <td>{{ report.fecha_registro }}</td>
        <td>{{ report.nombre }}</td>
        <td>{{ report.nombre_producto }}</td>
        <td>{{ report.cantidad }}</td>
        <td>{{ report.total_cantidades }}</td>
      </tr>
    </ng-template>
  </p-table>
  }
</p-fieldset>

<p-toast
  [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
></p-toast>
