
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.report-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: auto;
}