<p-toolbar
[style]="{ backgroundColor: '#fff', borderBottom: '1px solid #eee' }"
>
  <div class="p-toolbar-group-left">
    <button pButton (click)="toggleMenu()" icon="pi pi-bars"></button>
  </div>
  <div class="p-toolbar-group-center p-d-flex">
    <h2 class="foh2-semibold text-xl">Aguapen</h2>
  </div>
  <div class="p-toolbar-group-right">
    <button
      pButton
      icon="pi pi-user"
     
      (click)="onUserButtonClick()"
    ></button>
  </div>
</p-toolbar>

<p-sidebar [(visible)]="showMenu" position="left">
  <p-panelMenu [model]="menuItems"></p-panelMenu>
</p-sidebar>
